<h1 id="fml">fml</h1>
<h4 id="fix_my_list">f i x &#183 m y &#183 l i s t</h4>
<div id="todoapp">
<header>
<h3>my list</h3>
<input id="new-todo" type="text" placeholder="enter next item here">
</header>
<section id="todo-main">
<ul id="todo-list">
</ul>
</section>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="todos.js"></script>



