<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
fml was written from ~ 11pm - 4am (UTC-7) on Friday, October 17th and Saturday, October 18th for the Rails Rumble hackathon.
Proceed with caution and a generous dose of sympathy for this bleary-eyed and overly ambitious coder.
</p>
<h3>Why fml?</h3>
<p>
fml stands for <strong>Fix My List</strong>
In this modern era, we are still constantly chasing down little slips of paper. This application is designed to help wrangle the many <em>(many!)</em> online and print to-do, shopping, etc. lists that people (and, most especially, parents) are expected to keep track of.
</p>
<p>
The skeleton for this web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
